data/assets/
data/era5_tcw/*
data/geopotential_500_orig/*
data/__pycache__
experiments/__pycache__
experiments/runs/
models/architectures/__pycache__
models/transformations/__pycache__
utils/__pycache__
optimization/__pycache__
runs/
experiments/
*.err
*.out
*.precipitation.zip
data/download/*
data/precipitation/
data/wc2*
data/noresm/
radial*
data/noresm*
