data/assets/
data/era5_tcw/*
data/__pycache__
experiments/__pycache__
experiments/runs/
models/architectures/__pycache__
models/transformations/__pycache__
utils/__pycache__
optimization/__pycache__
runs/
experiments/
